<router-outlet></router-outlet>
<html>


<div class="btn-group">
  <canvas id = 'c'></canvas>
  <br>

  <form>
    <div id ="uname">
      <label for="username" > Username: </label>
    <input type="text" id="username"  size="10" name="username" placeholder="John Smith" required >
    </div>

    <div id="D1">
      <label for="d1" > Distance 1: </label>
    <input type="number" id="d1" name="d1" placeholder=" D1 cm " min="0">

    </div>



    <div id="D2">

      <label for="d2" > Distance 2: </label>
    <input type="number" id="d2" name="d2" placeholder=" D2 cm " min="0">

    </div>
    
  </form>
  
  <br>

  <div id ="counter">
    <div>
      <mat-slider color="black" class= "custom_slider" step="0.25" min="0.25" max="5" (change)="updateSlider($event)"
    discrete thumblabel>
     <input matSliderThumb [(ngModel)]="value" >
   </mat-slider>
   <h4>Adjust Aperture</h4>
   
    </div>

   <div id="timer">Time - 00:00  </div>
    <div id="attempts">Attempts - 0 </div>

    <!-- <button (click)="drawRayBoundry()">Ray Diagram</button>
    <button (click)="fillRayBoundry()">Fill Diagram</button>
    <button (click)="drawImage()">Trace Image</button>  -->


  </div>
  

<div id="submit">

    <input id = "apply" type="submit" value="Apply">

  <input id = "reset" type="reset" value="Reset">


  <input id = "next" type="button" value="Next">





</div>
  

  
  </div>


  </html>
  
